<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>NewServelet</display-name>
    <servlet-name>NewServelet</servlet-name>
    <servlet-class>com.examples.NewServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServelet</servlet-name>
    <url-pattern>/NewServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.examples.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.examples.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin1</display-name>
    <servlet-name>admin1</servlet-name>
    <servlet-class>com.examples.admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin1</servlet-name>
    <url-pattern>/newadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Select</display-name>
    <servlet-name>Select</servlet-name>
    <servlet-class>com.examples.Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/select</url-pattern>
  </servlet-mapping>
</web-app>